/* * {
  color: #282c34;
} */

h1 {
  position: sticky;
  top: 0;
  font-size: 50px;
  color: white;
}

.App {
  text-align: center;
}

.PanelOut {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-color: #282c34;
  color: #282c34;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 10px;
  padding: 15px;
}

.PanelIn {
  display: inline-block;
  border-color: #282c34;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  /* margin-bottom: 10px; */
  padding: 10px;
}
.CoinName {
  /* float: left; */
  padding: 10px;
}

.CoinPrice {
  width: fit-content;
  border: 2px solid #282c34;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

.Sell {
  background-color: orangered;
  border: 2px solid #282c34;
  color: white;
  /* border-radius: 10px; */
}

.Buy {
  background-color: darkgreen;
  border: 2px solid #282c34;
  color: white;
  /* border-radius: 10px; */
}
